// bower:scss
// endbower




/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-image: url('../images/Seamless_metal_texture.jpg');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.25rem rgba(0,0,0,0.3);
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    -webkit-box-shadow: inset 0 0 0.25rem rgba(0,0,0,0.5);
}
riot-tag-workbench{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:1rem;
  display:flex;
  flex-flow:column;
  justify-content: space-between;
  overflow:hidden;

}
#container{

  min-height:23rem;
  width:100%;
  padding-left:0.125rem;
  padding-right:0.125rem;
  background: black;
  z-index:1;
}

#iphone4{
  position:relative;
  width:320px;
  height:480px;
  background:white;
  margin:0.5rem;
  overflow-y:scroll;
  overflow-x:hidden;
}
#iphone4::-webkit-scrollbar {
    display: none;
}
#iphone5{
  position:relative;
width:320px;
height:568px;
background:white;
margin:0.5rem;
 overflow-y:scroll;
 overflow-x:hidden;
}
#iphone5::-webkit-scrollbar {
    display: none;
}
#iphone6{
  position:relative;
width:375px;
height:667px;
background:white;
margin:0.5rem;
 overflow-y:scroll;
 overflow-x:hidden;
}
#iphone6::-webkit-scrollbar {
    display: none;
}
#ipad{
  position:relative;
  width:768px;
  height:1024px;
  margin:0.5rem;
  background:white;
   overflow-y:scroll;
 overflow-x:hidden;
}
#ipad::-webkit-scrollbar {
    display: none;
}
#console{
  width:320px;
  height:480px;
  background:white;
  margin:0.5rem;
  overflow-y:scroll;
  overflow-x:hidden;
}
#console p{
  padding:0.25rem;
  margin:0;
}
#toolbar{
  position:relative;
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  height:2.5rem;
  line-height:2rem;
  padding:0.25rem;
  z-index:1;
}
#editors{
  display:flex;
  justify-content:space-around;
  height:20rem;
}
.editorContainers{

    flex: 1 1 auto;
    margin:0.25rem 0.1rem;
    position:relative;
}
.editorContainers::before{

  color:rgba(34,34,255,0.87);
  font-weight:bolder;
  background-color:rgba(255,255,255,0.8);
  font-size:0.75rem;
  line-height:1.5rem;
  padding-left:1rem;
  position: absolute;
  height: 1.5rem;
  top: 1.5rem;
  left: 0;
  right:0;
  margin-top: -1.5rem;
  border-radius:0.5rem 0.5rem 0 0 ;
}
.editorContainers > textarea{
  padding-top:1.5rem;
  background-color:rgb(12,12,12);
  color:#009922;
  width:100%;
  height:20rem;
  border-radius:0.5rem 0.5rem 0 0;
}

#tagDefContainer::before{
  content: 'Tag defintion';
}

#tagOptsContainer::before{
  content:'Sample JSON data';
}
#tagStyleContainer::before{
  content:'Tag style';
  }
button{

  height:1.5rem;
  font-size:1rem;
  line-height:1rem;
  border:1px solid black;
  background:rgba(255,255,255,0.6);

  padding:0.25rem 0.5rem 0.25rem 0.5rem;
  margin:0.25rem;
  box-shadow:2px 2px 8px rgba(0,0,0,0.3);
}
#toolbar button img {
  height:1rem;
  margin:0;
  padding:0;
}
select{
  height:1.5rem;
  font-size:1rem;
  line-height:1rem;
  border:1px solid silver;
  background:rgba(255,255,255,0.7);
  border-radius:0.25rem;
  padding:0 0.25rem 0 0.25rem;
  margin-top:-2rem;
  position:relative;
  top:-0.25rem;
}

insignia-tag-description{

    font-family:Roboto;
    display:block;
    margin:0.75rem;
    background:white;
    border:1px solid silver;
}
insignia-tag-description h2 {
    background:#7986CB;
    widtH:100%;
   margin:0;
   padding:0.5rem 0.75rem;
   padding-left:1.5rem;
   border-bottom:1px solid #767676;
}
insignia-tag-description h2 > span {
    font-weight:300;
}
insignia-tag-description h3{
   margin:0.5rem 0.25rem 0rem 0.25rem;
   padding:0.5rem 0.75rem 0rem 0.75rem;
   border-bottom:1px solid #dedede;
}
insignia-tag-description p{
    font-family: 'Halant', serif;
    padding:0.125rem 0.25rem 0.125rem 0.75rem;
}
insignia-tag-description pre{
    white-space:pre-wrap;
    padding:0.75rem;
}
insignia-tag-description code{
    box-sizing:border-box;
    background:#ededed;
    margin:0.25rem 0.75rem;
    display:inline-block;
    width:calc(100% - 1.5rem); /* 2 times the margin */
    overflow:scroll;
}