body{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
riot-tag-workbench{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
#container{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:calc(100% - 12rem);
}
textarea {
  width:40rem;
  height:20rem;
}
#console{
  display:inline-block;
  width:40rem;
  height:20rem;
  border:1px solid silveR;
  position:absolute;
  top:0;
  left:41rem;
}